<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"
    />
    <meta
      name="description"
      content="物流开放平台是京东物流开放服务的窗口，旨在通过开放API、软件产品的形式将京东物流的产品服务、技术服务对外开放，面向开发者提供快递、快运、云仓、服务+等京东物流技术服务能力，支持京东物流商家、ISV及合作伙伴的业务系统与京东物流系统无缝对接。"
    />
    <meta
      name="keywords"
      content="京东物流开放平台,京东物流技术开放平台,物流API"
    />
    <link rel="icon" href="<%= BASE_URL %>icon.ico" />
    <link rel="stylesheet" href="<%= BASE_URL %>vditor/dist/index.css"/>
    <title>京东物流开放平台国际站</title>
  </head>
  <body>
    <noscript>
      <strong
        >We're sorry but <%= webpackConfig.name %> doesn't work properly without
        JavaScript enabled. Please enable it to continue.</strong
      >
    </noscript>
    <div id="app"></div>
    <script src="<%= BASE_URL %>vditor/dist/index.min.js"></script>
    <!-- built files will be auto injected -->
  </body>
</html>
