.robot_style {
  position: fixed;
  bottom: 10px;
  right: 19px;
  z-index: 99;
  width: 440px !important;
  height: 554px !important;
  background: rgba(244, 245, 247, 1);
  border-radius: 8px;
  box-shadow: 0 2px 8px 0 rgba(35, 37, 43, 0.1);
  .robot_im_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 440px;
    height: 60px;
    background: linear-gradient(
      260.77deg,
      rgba(234, 240, 255, 1) 0%,
      rgba(225, 234, 255, 1) 72.237172436123%,
      rgba(203, 219, 255, 1) 100%
    );
    border-radius: 8px 8px 0 0;
    padding: 17px 8px 17px 16px;
    line-height: 22px;
    .header_title {
      font-size: 16px;
      line-height: 22px;
      height: 24px;
      font-family: PingFang SC;
      font-weight: 500;
      color: rgba(35, 37, 43, 1);
      margin: 0;
      padding: 0;
      text-overflow: ellipsis;
      overflow: hidden;
      text-align: center;
      white-space: nowrap;
      cursor: pointer;
      &:hover {
        opacity: 0.8;
      }
      &:last-child {
        font-size: 16px;
      }
      img {
        width: 29px;
        height: 27px;
        margin-right: 10px;
      }
    }
    .header_zoom {
      margin-left: 1.6rem;
      line-height: 1;
      .img_zoom {
        width: 16px;
        height: 16px;
      }
    }
    .header_close {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 40px;
      height: 40px;
      cursor: pointer;
      span {
        margin: 0;
        padding: 0;
        text-overflow: ellipsis;
        overflow: hidden;
        text-align: center;
        white-space: nowrap;
        font-size: 16px;
        font-weight: bold;
        cursor: pointer;
        &:hover {
          opacity: 0.8;
        }
        &:last-child {
          font-size: 16px;
        }
      }
      .im_btn_close {
        width: 19px;
        height: 19px;
      }
    }
  }
}

::v-deep .lemon-container {
  position: fixed;
  bottom: 10px;
  right: 19px;
  z-index: 99;
  width: 440px !important;
  height: 554px !important;
  background: rgba(244, 245, 247, 1);
  border-radius: 8px;
  box-shadow: 0 2px 8px 0 rgba(35, 37, 43, 0.1);
}

::v-deep .lemon-container__title {
  padding: 0;
}

::v-deep .lemon-editor {
  width: 440px;
  height: 52px;
}

::v-deep .lemon-editor__tool {
  display: none !important;
}

::v-deep .lemon-editor__footer {
  height: 52px;
  background: rgba(250, 250, 251, 1);
  border-radius: 0 0 8px 8px;
  box-shadow: 0 0 8px 0 rgba(35, 37, 43, 0.08);
  width: 100%;
  position: absolute;
  bottom: 0;
}
::v-deep .lemon-editor__tip {
  width: 100%;
}

.robot_im_container_footer {
  width: 440px;
  height: 52px;
  background: rgba(250, 250, 251, 1);
  border-radius: 0 0 8px 8px;
  box-shadow: 0 0 8px 0 rgba(35, 37, 43, 0.08);

  ::v-deep .el-input__inner {
    height: 100%;
    padding: 0 12px;
    background: rgba(250, 250, 251, 1);
    box-shadow: 0 0 8px 0 rgba(35, 37, 43, 0.08);
    border-width: 0px;
  }
  ::v-deep .el-input-group__append {
    background-color: rgba(250, 250, 251, 1);
    border-width: 0px;
    .robot_im_container_footer_button {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 32px;
      height: 32px;
      background: rgba(60, 110, 240, 1);
      border-radius: 4px;
      .robot_im_container_footer_button_img {
        width: 16px;
        height: 16px;
      }
    }
  }
}
::v-deep .lemon-editor__inner {
  display: none !important;
}

::v-deep .lemon-editor__submit {
  display: none;
}
